<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.htu.erhuo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.EHApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">
        <activity
            android:name=".ui.LaunchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.BaseActivity"
            android:theme="@style/MyAppTheme" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".ui.LoginActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity android:name=".ui.SetPersonalInfoActivity" />
        <activity android:name=".ui.SetInfoActivity" />

        <meta-data
            android:name="com.htu.erhuo.utils.EHGlideModule"
            android:value="GlideModule" />

        <activity android:name=".ui.GoodsCreateActivity" />
        <activity android:name=".ui.MyGoodsActivity" />
        <activity android:name=".ui.AboutErHuo" />
        <activity android:name=".ui.ErHuoVersionActivity" />
        <activity android:name=".ui.ErHuoTeamActivity" />
        <activity android:name=".ui.ErHuoReplyActivity" />
        <activity android:name=".ui.GoodsDetailActivity"></activity>
    </application>

</manifest>